<div class="footer">
    <div class="w">
        <div class="links">
            <span>友情链接：</span>
            <a href="http://www.taobao.com/" class="link">淘宝</a> | 
            <a href="https://www.jd.com/" class="link">京东</a> | 
            <a href="https://www.amazon.cn/" class="link">亚马逊</a> | 
            <a href="http://www.suning.com/" class="link">苏宁易购</a>
        </div>
        <p class="copyright"> Copyright &copy; 2017 GoMall.com All Rights Reserved 去购物网站 版权所有</p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>