<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">登录</span>
                <span class="link js-register">注册</span>
            </span>
            <span class="user login">
                <span class="link-text">
                    欢迎，
                    <span class="username"></span>
                    <span class="link">退出</span>
                </span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="./cart.html" class="link" alt="购物车">
                    <i class="fa fa-shopping-cart"></i>购物车(<span class="cart-cont">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a href="./order-list.html" class="link" alt="我的订单">我的订单</a>
            </li>
            <li class="nav-item">
                <a href="./user-center.html" class="link" alt="用户中心">用户中心</a>
            </li>
            <li class="nav-item">
                <a href="./about.html" class="link" alt="关于我们">关于我们</a>
            </li>
        </ul>
    </div>
</div>